
.navPagesList0{
    font-size: 12px;
    letter-spacing: 0.3px;
    color: #CBCFD1;
   
    
    }
.navPagesList{
font-size: 12px;
letter-spacing: 0.3px;
color: #CBCFD1;
// padding-left: 25px;
}

.navPagesList1{
    font-size: 15px;
    color:  white;
    line-height: 22px;
    
    }

  a:hover{
    //    cursor: pointer;
        color: #798288;
        text-decoration: none;
    }

 
    .socialIcons{
        color: #05d88c;
        width: 32px;
        height:22px;
        padding-right: 2%;
    }