// ===============Quarter card================/
.Rectangle-68 {
    height: 210px;
    color: #fff;
    width: 85%;
    text-align: center !important;
    align-items: center !important;
    align-self: center !important;
    margin: 3%;
    font-size: 1vw;
    text-align: center;
    border-radius: 5px;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    box-shadow: 2px 2px 30px 0 rgba(0, 0, 0, 0.521);
    flex-direction: row;
    float: right;
    padding-top: 70px;
  }
  