

.heading{
    font-size: 50px;
    font-weight: 700;
    color:"red" !important
   
   }
  //  p{
  //    color: black !important;
  //  }

   .title{
       font-size: 25px;
   }
 @media only screen and (max-width: 1024px) {
    .heading{
        font-size: 25px;
             
       }
       .title{
        font-size: 20px;
    }
  }
@media only screen and (max-width: 768px) {
    .heading{
     font-size:22px;
   
    }
  }














  /* The outermost element*/
.header-wrapper {
  overflow: hidden;
  width:100%;
  // height:100vh;
 
}

.zoominheader {
  width:100%;

  // background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-1w9hlLuMqaOmx8b9kd_PwU5iiWRxxCf_gDLi4Ztd6SDbJ6-J&s");
  background-size: auto;
  background-attachment: fixed;
  background-repeat: repeat;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-animation: zoomin 10s ease-in infinite;
  animation: zoomin 10s ease-in infinite;
  transition: all .5s ease-in-out;
  overflow: hidden;


}

/* The innermost element*/
.zoomoutheader {
  width:100%;
  background: none;
  -webkit-animation: zoomout 10s ease-in infinite;
  animation: zoomout 10s ease-in infinite;
  transition: all .5s ease-in-out;
  overflow: hidden;
}



/* Zoom in Keyframes */
@-webkit-keyframes zoomin {
  0% {transform: scale(1);}
  50% {transform: scale(1.5);}
  100% {transform: scale(1);}
}
@keyframes zoomin {
  0% {transform: scale(1);}
  50% {transform: scale(1.5);}
  100% {transform: scale(1);}
} /*End of Zoom in Keyframes */

/* Zoom out Keyframes */
@-webkit-keyframes zoomout {
  0% {transform: scale(1);}
  50% {transform: scale(0.67);}
  100% {transform: scale(1);}
}
@keyframes zoomout {
    0% {transform: scale(1);}
  50% {transform: scale(0.67);}
  100% {transform: scale(1);}
}/*End of Zoom out Keyframes */

/*Style for the text*/
.text{
  color:red;
  font-weight:bold; 
}





// .background{
//   // backgroundImage:src(")
//   background-image: url("../../../images/backgroundimages.png");
//   border: 1px solid red;
// }