
  
  .textDiv {
    font-weight: 560;
    font-size: 16px;
    text-align: justify;
    text-decoration: none solid rgb(33, 37, 41);
    font-family: sans-serif;
    color: rgb(197, 198, 198);
    margin: 6%;
    opacity: 0.99;
    line-height: 24px;
  }
  
  .p1 {
    flex: 1;
    text-align: "center";
    color: black;
    font-weight: 700;
    font-size: 54px;
    font-family: sans-serif;
    display: inline-block;
    word-spacing: 24;
    justify-content: center;
    align-items: center;
  }
  