.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #f1f1f1;
    position: relative;
    border-radius: 6px;
    height: 180px;
    width: 25%;
    margin: 12px;
    padding: 0px;
     width: 100%;
  }
  
  
  .column {
    margin: 0 auto;
    border-top: 1px solid #e6e2e3;
    width: 100%;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .card-top-border {
    background-color: #192a56;
    height: 40px;
    border-radius: 6px 6px 0 0;
  }
  
  .card-1 {
    background-color: #192a56;
  }
  .card-2 {
    background-color: #e1006a;
  }
  .card-3 {
    background-color: #fbc314;
  }
  .card-4 {
    background-color: #1b8f8b;
  }
  
  .title-1 {
    color: #192a56;
  }
  .title-2 {
    color: #e1006a;
  }
  .title-3 {
    color: #fbc314;
  }
  .title-4 {
    color: #1b8f8b;
  }
  
  .card-name {
    padding: 50px 0px;
  }
  .card-title {
    font-weight: bold;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #192a56;
    border-radius: 5px;
  }
  
  .card:hover .overlay {
    opacity: 1;
  }
  
  ._text {
    color: #ffffff;
    margin: 20px;
    font-size: 14px;
    text-align: left;
  }
  .title_heading {
    display: block;
    font-weight: bold;
  }
  .title_descripation {
    font-size: 12px;
    min-height: auto;
    min-width: auto;
    justify-content: center;
    text-indent: 0em;
  }

  
  @media only screen and (max-width: 1800px) {
    .card{
      width: 23%;
      margin: 10px;
      padding: 0px;
    }
    .card-name{
      font-size: 12px;
    }
    .title_descripation{
      font-size: 9px;
    }
  }
  @media only screen and (max-width: 1200px) {
    .card{
      width: 23%;
      margin: 10px;
      padding: 0px;
    }
  .card-name{
    font-size: 12px;
  }
  .title_descripation{
    font-size: 9px;
  }
 
  }
    @media only screen and (max-width: 1024px) {
      .card{
        width: 23%;
        margin: 8px;
        padding: 0px;
      }
    .card-name{
      font-size: 12px;
    
      }
      .title_descripation{
        font-size:8px;
      }
      .title_heading{
        font-size: 10px;
      }
    }
  
    @media only screen and (max-width: 900px) {
      .card{
        width:90%;
        margin: 35px;
        padding: 0px;
      }
      .title_descripation{
        font-size:15px;
      }
      .title_heading{
        font-size: 25px;
      }
   
    }
      @media only screen and (max-width: 768px) {
        .card{
          width:90%;
          margin: 25px;
          padding: 0px;
        }
        .card{
          width:90%;
          margin: 35px;
          padding: 0px;
        }
        .title_descripation{
          font-size:13px;
        }
        .title_heading{
          font-size: 20px;
        }
      }
        @media only screen and (max-width: 480px) {
          .card{
            width:90%;
            margin: 20px;
            padding: 0px;
            
            
          }
          .column{
            margin-left: 90px;
            text-align: center;
            margin: auto auto;
          }
          .card{
            width:90%;
            margin: 35px;
            padding: 0px;
          }
          .title_descripation{
            font-size:12px;
          }
          .title_heading{
            font-size:20px;
          }
        }
          @media only screen and (max-width: 360px) {
            .card{
              width:90%;
              margin:12px;
              padding: 0px;
            }
            .column {
              margin: 0 auto;
            
              width: 100%;
            }
            .card{
              width:90%;
              margin: 35px;
              padding: 0px;
            }
            .title_descripation{
              font-size:10px;
            }
            .title_heading{
              font-size: 17px;
            }
          }
            @media only screen and (max-width: 320px) {
              .card{
                width:90%;
                margin:12px;
                padding: 0px;
              }
              .column {
                margin: 0 auto;
              
                width: 100%;
              }
            }
  
  